span {
    /* Button for nav bar */
}

.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #21201f;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a,
p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Oswald', sans-serif;
}

p {
    color: white;
    font-size: 24px;
}

::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}

.sidenav a:hover {
    color: #ef6817;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    height: 100%;
    width: 50%;
    margin-left: 15%;
    background: #727271;
    color: white;
}

.form-container {
    display: flex;
    flex-flow: column wrap;
    margin-left: 25%;
}

#contact {

    display: flex;
    flex-direction: column;
    margin: 10%;
}

input {
    margin: 1%;
    color: white;
}

.message {
    height: 20vh;
}

input[type="submit"] {
    background-color: #ef6817;
    border: none;
    margin-top: 1%;
    color: white;
    height: 5em;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width: 960px) {
    .sidenav a {
        font-size: 18px;
    }

    nav p {
        visibility: hidden;
    }
}

@media screen and (max-width:775px) {
    
    .sidenav {
        height: 10%;
        width: 100%;

    }

    .sidenav a {
        visibility: hidden
    }

    .form-container {
        width: 100%;
        bottom: -25em;
        margin-left: 0;
    }

    .contact {
        width: 100%;
        border: 2px solid red;
    }

    input[type="submit"] {
        width: 100vw;
        border: 1px solid orange;
        left: 0;
    }
}