body {
    background-color: #727271;
}
.logo {
    width: 75%;
    margin-top: -50px;
    z-index: 1;
    
}
.sidenav {
    height: 100vh;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #21201f;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a,
p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Oswald', sans-serif;
}

.social {
    display: flex;
    justify-content: space-evenly;
    margin-left: -20px;
    padding-top: 25%;
    justify-content: center;
}

p {
    color: white;
    font-size: 24px;
}

::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}

.sidenav a:hover {
    color: #ef6817;
    text-decoration: underline;
    transform-origin: left;
    transform: scale(1.2);
}

.social a:hover {
    transform: scale(1.2);
    transform-origin: center center;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.main {
    width: 100%;
}

.carousel {
    margin-left: 25%;
    border: 2px solid red;
}

.row {
    display: inline-grid;
    margin-top: 42.5%;
    margin-left: 15.5%;
    margin-right: .5%;
    border: 2px solid blue;
    width: 84%;  
}

.about-head {
    grid-column-start: 2;
    grid-column-end: 11;
    text-align: center;
    margin-bottom: 10%;
    padding-top: 5%;
}

.column {
    border: 2px solid red;
    text-align: center;
    font-size: 24px;
}

.column i{
    font-size: 48px;
    color: white;
}

.left {
    grid-column-start: 1;
    grid-column-end: 4;
}

.middle {
    grid-column-start: 5;
    grid-column-end: 8;
}

.right {
    grid-column-start: 9;
    grid-column-end: 12;
}

.form-container {
    display: flex;
    flex-flow: column wrap;
    margin-left: 25%;
    margin-top: 55%;
    
}

#contact {
    display: flex;
    flex-direction: column;
    margin: 10%;
}

input {
    margin: 0.5%;
    border: 1px solid #ef6817;
}

.message {
    height: 20vh;

}

input[type="submit"] {
    background-color: #ef6817;
    border: none;
    margin-top: 1%;
    color: white;
    height: 5em;
}

input[type="submit"]:hover {
    background-color: white;
    border: 2px solid #ef6817;
    color: #ef6817;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 10%;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width: 960px) {
    .sidenav a {
        font-size: 18px;
    }

    nav p {
        visibility: hidden;
    }
}

@media screen and (max-width:775px) {

    .sidenav {
        height: 10%;
        width: 100%;

    }

    .sidenav a {
        visibility: hidden
    }

    .logo {
    }

    .main {
        display: flex;
        flex-direction: column;
    }
    
    .carousel {
    
    }
    .form-container {
        width: 100%;
        bottom: -25em;
        margin-left: 0;
        margin-top: -50px;
    }

    .contact {
        width: 100%;
        border: 2px solid red;
        margin-top: 25%;
    }

    input[type="submit"] {
        width: 99%;
        border: 1px solid orange;
        left: 0;
    }
}