html {
    scroll-behavior: smooth;
}

body {
    background-color: #383838;
}

.span-head {
    padding-bottom: .5em;
    border-bottom: 2px solid #ef6817;
}


/* -----------NAVBAR----------- */
.logo {
    margin-left: 12.5%;
    width: 75%;
    margin-top: -50px;
    z-index: 1;
}

.hamburger {
    visibility: hidden;
}

.open {
    width: 15%;
}

.closeBtn {
    visibility: hidden;
}


.sidenav {
    text-align: justify;
    height: 100vh;
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #21201f;
    overflow-x: hidden;
    padding-top: 4%;
    transition: 0.5s;
}

.sidenav a,
p {
    padding: 0% 2% 25% 10%;
    text-decoration: none;
    font-size: 22px;
    color: #5f605d;
    display: block;
    transition: 0.3s;
    font-family: 'Oswald', sans-serif;

}

.activeNav {
    color: #ef6817;
    text-decoration: underline;
    transform-origin: left center;
    transform: scale(1.2);
}

.social {
    display: flex;
    text-align: left;
    flex-direction: column;
    padding-top: 5%;
    margin-top: 20%;

}

p {
    color: white;
    font-size: 24px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.sidenav a:hover {
    color: #ef6817;
    text-decoration: underline;
    transform-origin: left center;
    transform: scale(1.1);
}

.social a:hover {
    transform: scale(1.2);
    transform-origin: left center;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}



/* -----------MAIN CONTENT----------- */
.main {
    width: 100%;
}

.projects-head {
    text-align: center;
    margin-left: 8.5%;
    margin-bottom: 5%;
    font-weight: 700;
}



/* -------------PROJECT-CAROUSEL------------- */
.carousel {
    margin-left: 17.25%;
    width: 75.0%;
    margin-top: 5%;
}

#carouselIndicators {
    height: 640px;
}

.carousel-inner {
    width: 100%;
}

.carousel-inner img {
    margin: 0px auto;
    height: 640px;
    width: 100%;
}

.carousel-control-next,
.carousel-control-prev {
    height: 640px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 40px;
    height: 40px;
}

/* The Modal (background) */

.close {
    padding-top: 5%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */
/* .mySlides {
    display: none;
  } */

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: #383838;
    opacity: 0.6;
}

/* Number text (1/3 etc) */
.numbertext {

    color: #ef6817;
    font-size: 12px;
    margin-top: -3%;
    padding: 0px 12px;
    position: absolute;
    font-size: 24px;
    top: 0;
}

img.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* -----------ABOUT ME----------- */
.row {
    display: inline-grid;
    margin-top: 2%;
    margin-left: 9.5%;
    margin-right: .5%;
    width: 84%;
    grid-column-gap: 2em;
}

.about-head {
    grid-column-start: 2;
    grid-column-end: 11;
    text-align: center;
    padding-top: 5%;
}

.about-container {
    text-align: center;
    margin-left: -12.5%;
}

h1 {
    font-weight: 700;
}

.about-head {
    margin-top: 10%;
    margin-bottom: 5%;
}

h1,
h2 {
    color: #ef6817;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15%;
    margin-top: 5%;
}

article {
    margin-top: 1em;
    font-size: 20px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #727271;
}

.column {
    text-align: center;
    font-size: 24px;
}

.column i {
    font-size: 48px;
    color: white;
}

.left,
.right,
.middle {
    margin-top: 25%;
}

.left {
    grid-column-start: 1;
    grid-column-end: 4;
    padding-left: 4%;
    padding-right: 4%;
    
}

.middle {
    grid-column-start: 5;
    grid-column-end: 8;
    padding-left: 4%;
    padding-right: 4%;
    
    
}

.right {
    grid-column-start: 9;
    grid-column-end: 12;
    padding-left: 4%;
    padding-right: 4%;
}

/*---------TESTAMONIALS------------ */

.testamonial-head {
    text-align: center;
    margin-left: 9.5%;
    margin-bottom: -1.5%;
    margin-top: 15%;
}

.test-carousel-inner {
    width: 100%;
}

.test-carousel-inner p {
    /* margin-left: 21.5%; */
    margin: 0 auto;
    width: 100%;
    text-align: justify;
}

#test-carousel {
    margin-left: 17.25%;
    width: 75.0%;
    margin-top: 5%;
    box-shadow: #383838 2px 5px;
}

.test-carousel-inner {
    width: 100%;
    text-align: center;
}

#testamonial-container {
    margin-left: -11.75%;
}


/* -----------CONTACT ME----------- */
.contact-head {
    text-align: center;
    margin-bottom: 10%;
}

.form-container {
    margin-left: 17.5%;
    color: #ef6817;
}

.container {
    width: 100%;
    clear: both;
    margin-bottom: 2em;
}

label {
    margin-bottom: .1em;
    font-weight: 600;
}

.container input {
    width: 100%;
    clear: both;
}

.container input[type="submit"] {
    margin-top: 2em;
    background-color: #ef6817;
    color: white;
    border: none;
}










/* --------MEDIA QUERIES----------- */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 10%;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width: 960px) {
    .sidenav a {
        font-size: 16px;
    }

    nav p {
        visibility: hidden;
    }

    .form-container {
        margin-left: 20%;
    }

    .message {
        margin-top: -16.75%;
    }

    .logo {
        margin-top: 5%;
    }

}

@media screen and (max-width:885px) {
    .sidenav a {
        font-size: 12px;
    }


    .form-container {
        margin-left: 20%;
        color: #ef6817;
    }


}

@media screen and (max-width:775px) {

    .logo {
        visibility: hidden;
    }

    .sidenav {
        height: 10%;
        width: 100vw;
    }

    .sidenav a {
        visibility: hidden
    }


    .main {
        display: flex;
        flex-direction: column;
    }

    .about-head {
        margin-left: 7.5%;
    }

    .main h1 {
        margin-top: 10%;
        margin-right: 6.5%;
    }

    .carousel {
        width: 100%;
        margin-left: 0%;
        height: 120px;
        float: left;
        margin-top: -1.75%;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        margin-top: 25%;
    }


    .form-container {
        width: 100%;
        bottom: -25em;
        margin-left: 0;
        margin-top: -50px;
    }

    .contact {
        width: 100%;
        border: 2px solid red;
        margin-top: 25%;
    }

    input[type="submit"] {
        width: 99%;
        border: 1px solid orange;
        left: 0;
    }


    .about-container {
        margin-top: 5%;
        margin-left: -5.5%;
        width: 100%;
    }

    .testamonial-head {
        margin-left: 15%;
    }

    .test-carousel-inner p {
        margin-left: -2.5%;
        margin-top: 10%;
        width: 100%;
        text-align: justify;
    }

    .form-container {
        margin-left: 20%;
    }

}

@media screen and (max-width:768px) {
    .logo {
        visibility: hidden;
    }

    nav {
        width: 100%;
    }

    .carousel-inner {
        margin-left: -1%;
        height: 100%;
    }

    img {
        height: 25%;
    }

    .column {
        margin-left: -10%;
    }

    .form-container {
        margin-top: -60%;
        margin-left: 0%;
    }
}

@media screen and (max-width:375px) {
    article {
        display: flex;
        flex-direction: column;
    }

}