html {
    scroll-behavior: smooth;
}

body {
    background-color: #383838;
}

.logo {
    margin-left: 12.5%;
    width: 75%;
    margin-top: -50px;
    z-index: 1;
}

.closeBtn {
    visibility: hidden;
}

.sidenav {
    text-align: justify;
    height: 100vh;
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #21201f;
    overflow-x: hidden;
    padding-top: 4%;
    transition: 0.5s;
}

.sidenav a,
p {
    padding: 0px 8px 32px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #5f605d;
    display: block;
    transition: 0.3s;
    font-family: 'Oswald', sans-serif;

}

.social {
    display: flex;
    text-align: left;
    flex-direction: column;
    padding-top: 5%; 
    margin-top: 20%;

}

p {
    color: white;
    font-size: 24px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.sidenav a:hover {
    color: #ef6817;
    text-decoration: underline;
    transform-origin: left center;
    transform: scale(1.2);
}

.social a:hover {
    transform: scale(1.2);
    transform-origin: left center;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.main {
    width: 100%;
}

.carousel {
    margin-left: 10.5%;
    width: 89.0%;
    margin-top: -1%;
}

.carousel-inner {
    width: 100%;
}

.carousel-inner img {
    margin: 0px auto;
    height: 640px;
    width: 100%;
}

.row {
    display: inline-grid;
    margin-top: 2%;
    margin-left: 5.5%;
    margin-right: .5%;
    width: 84%;
}

.about-head {
    grid-column-start: 2;
    grid-column-end: 11;
    text-align: center;
    margin-bottom: 10%;
    padding-top: 5%;
}

.about-container {
    text-align: center;
}

h1 {
    font-weight: 700;
}
h1, h2 {
    color: #ef6817;
    text-decoration: underline;
}
article {
    font-size: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #727271;
}

.column {
    text-align: center;
    font-size: 24px;
}

.column i {
    font-size: 48px;
    color: white;
}

.left {
    grid-column-start: 1;
    grid-column-end: 4;
    padding-left: 4%;
    padding-right: 4%;
    border-right: .25px solid #727271;
}

.middle {
    grid-column-start: 5;
    grid-column-end: 8;
    padding-left: 4%;
    padding-right: 4%;
    border-left: .25px solid #727271;
    border-right: .25px solid #727271;
}

.right {
    grid-column-start: 9;
    grid-column-end: 12;
    padding-left: 4%;
    padding-right: 4%;
    border-left: .25px solid #727271
}

.contact-head {
    text-align: center;
}

.form-container {
    display: flex;
    flex-flow: column wrap;
    margin-left: 20%;
    margin-top: 2.5%;

}

#contact {
    display: flex;
    flex-direction: column;
    margin: 5% 10 10 10;
}

input {
    margin: 0.5%;
    border: 1px solid #ef6817;
    background: #929291;
    color: white;
}



.message {
    height: 20vh;
}

::placeholder {
    color: white;
}

input[type="submit"] {
    background-color: #ef6817;
    border: none;
    margin-top: 1%;
    color: white;
    height: 5em;
}

input[type="submit"]:hover {
    background-color: white;
    border: 2px solid #ef6817;
    color: #ef6817;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 10%;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width: 960px) {
    .sidenav a {
        font-size: 18px;
    }

    nav p {
        visibility: hidden;
    }
}

@media screen and (max-width:775px) {

    .sidenav {
        height: 10%;
        width: 100%;

    }

    .sidenav a {
        visibility: hidden
    }

    .logo {}

    .main {
        display: flex;
        flex-direction: column;
    }

    .carousel {}

    .form-container {
        width: 100%;
        bottom: -25em;
        margin-left: 0;
        margin-top: -50px;
    }

    .contact {
        width: 100%;
        border: 2px solid red;
        margin-top: 25%;
    }

    input[type="submit"] {
        width: 99%;
        border: 1px solid orange;
        left: 0;
    }
}